img {
    max-width: 300px;
    height: auto;
    image-rendering: crisp-edges;
}

.btn:hover {
    color: #fff;
}

.btn-huashan1914 {
    color: #fff;
    background-color: #437321;
    border-color: #437321;
}

.btn-cksmh {
    color: #fff;
    background-color: #04a1ae;
    border-color: #04a1ae;
}

.btn-mocataipei {
    color: #fff;
    background-color: #E83434;
    border-color: #E83434;

}

.btn-npm {
    color: #fff;
    background-color: #7D0000;
    border-color: #7D0000;

}

.btn-ntm {
    color: #fff;
    background-color: #313131;
    border-color: #313131;
}


.btn-ntsec {
    color: #fff;
    background-color: #FAA61A;
    border-color: #33C0C4;

}

.btn-songshanculturalpark {
    color: #fff;
    background-color: #595758;
    border-color: #F9DD00;

}

.btn-tfam {
    color: #fff;
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

.btn-tmc {
    color: #fff;
    background-color: #FF5000;
    border-color: #00BBD3;
}

.btn-books {
    color: #fff;
    background-color: #61C0B4;
    border-color: #61C0B4;
}

.btn-udnfunlife {
    color: #fff;
    background-color: #F39800;
    border-color: #F39800;
}

td{
    word-wrap:break-word;
}
