:root {
    --JustIceQAQ_Orange: #FF6600;
    --JustIceQAQ_Green: #39C5BB;
    --JustIceQAQ_Drak: rgb(64, 64, 64);
}

.row {
    margin-bottom: 10px;
}

.nav-pills {
    border-color: var(--JustIceQAQ_Green) !important;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--JustIceQAQ_Orange);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}


a {
    color: var(--JustIceQAQ_Green);
}


.btn-myO:nth-child(odd) {
    margin-right: 5px;
    margin-top: 5px;
    color: #fff;
    background-color: var(--JustIceQAQ_Green);
    border-color: var(--JustIceQAQ_Green);
}

.btn-myO:nth-child(even) {
    margin-right: 5px;
    margin-top: 5px;
    color: #fff;
    background-color: var(--JustIceQAQ_Orange);
    border-color: var(--JustIceQAQ_Orange);
}

#skill-pills > div:nth-child(even) > div > div {
    border-color: var(--JustIceQAQ_Orange) !important;
}

#skill-pills > div:nth-child(even) > div > div > div.card-header {
    border-color: var(--JustIceQAQ_Orange) !important;

}

#skill-pills > div:nth-child(odd) > div > div {
    border-color: var(--JustIceQAQ_Green) !important;
}

#skill-pills > div:nth-child(odd) > div > div > div.card-header {
    border-color: var(--JustIceQAQ_Green) !important;

}

.nav-justified .nav-item, .nav-justified > .nav-link {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--JustIceQAQ_Green);
    border-color: var(--JustIceQAQ_Green);
    color: white;
}

.card-img-top{
    width: 414px;
    height: 336px;
    background: url("../img/loading.png") no-repeat scroll 0 0;
}